body {
  background-color: whitesmoke;
  font-family : Baby blocks Regular;
  font-size:25px;
}
td{
  border: 3px solid #73AD21;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 2;
}

